# Виртуальное окружение
.venv/
venv/

# Файлы окружения с секретами
.env

nginx/.DS_Store

# SSL сертификаты и ключи
certbot/conf/archive/
certbot/conf/live/
certbot/conf/accounts/
certbot/conf/renewal/

# Другие файлы, которые не нужно отслеживать
__pycache__/
*.pyc
*.pyo
*.log